<p>Lista de sales</p>
<mat-card class="no-pad">
  <mat-card-content>
    <mat-grid-list [cols]="2" rowHeight="20px">
      <mat-grid-tile [style.background]="color">Total</mat-grid-tile>
      <mat-grid-tile>Total 2</mat-grid-tile>
      <mat-grid-tile>0.00</mat-grid-tile>
      <mat-grid-tile [style.background]="color">1.00</mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-subtitle>03/08/2018</mat-card-subtitle>
    <mat-card-title>Activa</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <p>1 Cellsentials</p>
  </mat-card-content>
  <mat-card-actions>
    <i>Who is</i>
    <button mat-button>PAGOS</button>
    <button mat-button>Shalala</button>
  </mat-card-actions>

</mat-card>
