<mat-toolbar color="warn">Owes > Nueva</mat-toolbar>
<br><br><br><br>
<form (ngSubmit)="addOwe()" #saleForm="ngForm">
  <mat-form-field>
    <input matInput placeholder="Concepto" name="concept" [(ngModel)]="model.concept">
    <mat-icon matSuffix>description</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Monto" name="amount" [(ngModel)]="model.amount">
    <span matPrefix>$&nbsp;&nbsp;</span>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Cantidad" name="quantity" [(ngModel)]="model.quantity">
    <mat-icon matSuffix>playlist_add</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="date" [(ngModel)]="model.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="A quién" name="who" [(ngModel)]="model.who">
    <mat-icon matSuffix>account_circle</mat-icon>
  </mat-form-field>
  <br>
  <button mat-raised-button type="submit" color="primary">Guardar</button>
</form>
